<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up for Lung Cancer Prediction Website</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/user.css">
    <link rel="stylesheet" href="../static/msg.css">

    <!-- <link rel="stylesheet" href="path/to/material-design-iconic-font/css/material-design-iconic-font.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
</head>

<body>
    <div class="container">
        <div class="imageView">
            <img src="../static/doctor_img.avif" alt="doodle image">
        </div>
        <div class="formView">
            <h2 class="heading">Sign Up</h2>
            <form action="/home">
                <div class="formItem formLabel"><i class="zmdi zmdi-account"></i><label for="name">Name</label></div>
                <div class="formItem"><input type="text" id="name" title="Enter name here" placeholder="Enter Name"></div>
                <div class="formItem formLabel"><i class="zmdi zmdi-email"></i></i><label for="email">Email</label></div>
                <div class="formItem"><input type="email" id="email" title="Enter email id here" placeholder="Enter Email Id"></div>
                <div class="formItem formLabel"><i class="zmdi zmdi-lock"></i><label for="password">Password</label></div>
                <div class="formItem"><input type="password" id="password" title="Enter password here" placeholder="Enter Password"></div>
                <div class="formItem formLabel"><i class="zmdi zmdi-lock-outline"></i><label for="conPassword">Confirm Password</label></div>
                <div class="formItem"><input type="password" id="conPassword" title="Confirm password here" placeholder="Confirm Password"></div>
                <div class="formItem"><input class="signUpBtn" type="submit" title="Click here to login" value="Sign Up"></div>
                <div class="formItem note">Already an user?&nbsp;<a href="/login" title="Click here to register">Login here</a></div>
            </form>
        </div>
    </div>
    <div class="msgBox">
        <div class="msgHeading"><span class="msgTitle">Title</span></div>
        <div class="msgContent"><span class="msgText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem!</span></div>
        <div class="msgAction"><button>Ok</button></div>
    </div>
</body>

</html>